header {
    margin: 0 auto;
    text-align: center;
    padding-top: 300px;
    background-color: green;
}
header h1 {
    margin:0;
    font-size: 4rem;
    color: orange;
}

header p{
    font-weight: 700;
    font-size: 1.75rem;
    color: black;
    margin-bottom: 30px;
}

header a{
    box-shadow: 0 3px 3px 0 black;
    font-weight: 700;
    background-color: red;
    border-color: orange;
    color: white;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
    border-radius: .25rem;
    
}

 